---
layout: default
title: {{ site.name }}
---

<div id="home">
    {% for post in paginator.posts %}
	<article>
	<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
	{{ post.content }}
	</article>
    {% endfor %}
    {% if paginator.previous_page %}
	 <a href="{{ paginator.previous_page_path }}">Poprzednia</a>
    {% endif %}
	<span class="page_number ">Strona: {{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}">Następna</a>
     {% endif %}
</div>
